@charset "utf-8";

/* font-family: 'Abhaya Libre', serif; --en-txt-font */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

/* 변수 선언 */
:root {
  /* 컬러 */
  --bg-color:#F4F4F4;
  --txt-color: #131313;
  --txt-sub-color:#858585;
  /* 폰트 사이즈 */
  --font-size-20: 1.25rem;
  --sub-size-24: 1.5rem;
  --font-size-50: 3.125rem;
  --main-size-60: 3.75rem;
  /* 폰트 패밀리 */
  --en-txt-font: 'Abhaya Libre', -apple-system, BlinkMacSystemFont, 'Malgun Gothic',
    '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;
  --kr-font: 'pretendard', sans-serif-apple-system, BlinkMacSystemFont,
    'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo';

}

